[
  {
    "ParameterKey": "LiteLLMImageTag",
    "ParameterValue": "v1.88.6"
  },
  {
    "ParameterKey": "PostgresImageTag",
    "ParameterValue": "16.7"
  },
  {
    "ParameterKey": "AdminKey",
    "ParameterValue": ""
  }
]
